<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <i class="fas fa-phone-square"></i>
    <form action="/" method="post" id="form">
      <label for="username">Login</label>
      Gmail<input type="email" id="username" name="username" placeholder="Gmail Address"
        pattern="[a-zA-Z0-9._%+-]+@gmail\.com$" required />
      Password<input type="password" id="password" placeholder="Password" required />
      <button id="butt" type="submit">Submit</button>
    </form>
    
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</body>
</html>